* {
    padding: 0;
    margin: 0;
}
.divider{
    color:white;
}
#c,#b{
    background-color: white;
    border-top: 3px solid black;
    border-bottom:1px solid black;
    text-align: center;
}
#s{
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 4px solid black;
    text-align: center;
}
#header-nav {
    background-color: #1980f6;
    border-radius: 0;
    border: 0;
}
.navbar-brand {
    padding-top: 30px;
}
    .navbar-brand h1 {
        font-family: 'Lora', serif;
        color: black;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        margin-top: -20px;
        margin-bottom: -20px;
        line-height: .75;
    }
#nav-list {
    margin-top: 30px;
    text-align:center;
    list-style-type: none;
}

    #nav-list a {
        color: black;
        text-align: center;
        padding-right: .6em;
        margin: 1em 8px;
    }
.container-fluid{
    background-color:grey;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.container {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.bx {
    width: 32%;
    height: 100%;
    background: grey;
    margin: 0px;
    box-sizing: border-box;
    font-size: 17px;
    border-style: solid;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin: 13px;
    padding: 20px;
}

.bx > p {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    float:left;
}

.chicken {
    border: 4px solid black;
    width: inherit;
    text-align: center;
    font-size: 25px;
    background-color: peachpuff;
    float: right;
    margin: -3px -3px 8px 55%;
    /* height: 16%; */
}

.beef {
    border: 4px solid black;
    width: inherit;
    text-align: center;
    font-size: 25px;
    background-color: #ff5e006e;
    float: right;
    margin: -3px -3px 8px 55%;
    /* height: 16%; */
}

.sushi {
    border: 4px solid black;
    width: inherit;
    text-align: center;
    font-size: 25px;
    background-color: lightgoldenrodyellow;
    float: right;
    margin: -3px -3px 8px 55%;
}

@media(max-width:1200px) {
    .bx {
        width: 45%;
        margin: 20px;
    }
}
@media (max-width:992px) {
    .bx {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 100%;
    }

    .navbar-brand {
        padding-top: 10px;
        height: 80px;
        padding: 30px;
    }

        .navbar-brand h1 {
            padding-top: 10px;
            font-size: 5vw;
        }

        .navbar-brand p {
            font-size: .8em;
            margin-top: 12px;
        }

            .navbar-brand p img {
                height: 20px;
            }

    .collapsable-nav a {
        font-size: 1.2em;
    }
    
    body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #599e4b;
}
